.theme-toggle-button {
  position: fixed;
  display: flex;
  margin-top: -10px;
  margin-right: -10px;
  width: 155px; /* Adjusted width */
  height: 95px; /* Adjusted height */
  background-color: #e50914;
  border-radius: 0;
  font-size: 1.25rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1002;
}

.theme-toggle-button:hover {
  background-color: #f40612;
}
